{% extends "layout.html" %}
{% block title %}Trello Cards{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Trello App</h1>
    <p class="lead">Do Trello Stuff via API</p>
  </div>
  <div>
    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="field_name">Enter card: </label>
        <input type="text" name="field_name" id="field_name">
      </div>
      <div class="form-example">
        <input type="submit" value="Enter">
      </div>
    </form>
  <div class="row">
    <div class="col-md-12">
      <h2>To Do Cards</h2>
      <ul class="list-group mb-4">
        {% for item in view_model_to_do %}
          <li>{{item.name}}<form action = "trello/{{item.id}}" method = "post"><button type = "submit">Done</button></form></li>
        {% endfor %} 
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Done Cards</h2>
      <ul class="list-group mb-4">
        {% for item in view_model_done %}
          <li>{{item.name}}</li>
        {% endfor %} 
      </ul>
    </div>
    
  </div>
{% endblock %}